* {
    font-family: 'Roboto', sans-serif;
    color: #f8fafc;
}

html, body {
    margin: 0;
    padding: 0;
  } 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8fafc;
}

div {
    border: 1px solid black;
}

.info {
    color: black;
}

#calculator {
    width: 32vw;
    margin: 10rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #030712;
}

#screen {
    display: flex;
    justify-content: end;
    align-items: end;
    width: 27vw;
    height: 6vh;
    margin: 1rem;
    font-size: 2rem;
    background-color: #030712;
    color: #f8fafc;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
}

.buttonCont {
    flex: 1 1 22%;
    border-radius: 5px;
}

.button {
    width: 100%;
    height: 100%;
    background-color: #334155;
    font-size: 1rem;
    border-radius: 7px;
}
